.inputForm {
  display: flex;
  width: 50%;
  position: relative;
  align-items: center;
}

@media (max-width: 1200px) {
  .inputForm {
    width: 40%;
  }
}

.inputTextBox {
  /* align-items: center; */
  width: 100%;
  border-radius: 50px;
  /* padding: 50px; */
  padding: 25px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.inputTextBox:focus {
  box-shadow: 0 0 10px 2100px rgba(0, 0, 0, 0.5);
  outline: none;
}

.inputSubmit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: darksalmon;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.inputSubmit:hover {
  background-color: indianred;
}

.inputSubmit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}
