.inputForm {
  display: flex;
  width: 35%;
  position: relative;
  align-items: center;
}

@media (max-width: 1200px) {
  .inputForm {
    width: 40%;
  }
}

.inputTextBox {
  /* align-items: center; */
  width: 100%;
  border-radius: 50px;
  /* padding: 50px; */
  padding: 25px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.inputTextBox:focus {
  box-shadow: 0 0 10px 2100px rgba(0, 0, 0, 0.5);
  outline: none;
}

.inputSubmit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: darksalmon;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.inputSubmit:hover {
  background-color: indianred;
}

.inputSubmit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}
/* This is the items in the ToDoList.tsx */
.listItems {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}

.singleTodo {
  display: flex;
  width: 20%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 30px;
  background-color: forestgreen;
  /* background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.publicdomainpictures.net%2Fpictures%2F30000%2Fvelka%2Forange-textile-background.jpg&f=1&nofb=1); */
}

.singleTodoText {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.singleTodoText:focus {
  outline: none;
}

.edit {
  margin-left: 15px;
  font-size: 25px;
  cursor: pointer;
}

.completed {
  margin-left: 15px;
  font-size: 25px;
  cursor: pointer;
}

.delete {
  margin-left: 15px;
  font-size: 25px;
  cursor: pointer;
}
